default_aws_region="eu-central-1"
vpc_cidr_block="10.10.0.0/16"
public_subnet_a_cidr_block="10.10.1.0/24"
public_subnet_b_cidr_block="10.10.2.0/24"
private_subnet_a_cidr_block="10.10.11.0/24"
private_subnet_b_cidr_block="10.10.12.0/24"
allow_ssh_from_ip="1.2.3.4/32"
DB_USER="db_user"
DB_PASSWORD="db_pass_123"
DB_NAME="db_music_page"
zone_id="123123123"
domain="test.example.com"
